<template>
    <div>
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-11">
                        <h1 class="h2">{{repoTitle}}</h1>
                    </div>
                    <div class="col-md-1">
                         <b-button v-b-modal.modal-1>Information</b-button>
                    </div>
                    <div class="col-md-12">
                        <TotalChart v-bind:json-data="metricdata" @daycommit="showfiles"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 v-if="loaded">Commit times during the day</h4>
                        <HourChart v-bind:json-data="metricdata"/>
                    </div>
                    <div v-if="loaded" class="col-md-3">
                        <h4>.java Git blame latest version</h4>
                        <pie-chart :chart-data="gitblamecode" :options="gitblameoptions"/>
                    </div>
                    <div v-if="loaded" class="col-md-3">
                        <h4>.md Git blame latest version</h4>
                        <pie-chart :chart-data="gitblamedocs" :options="gitblameoptions"/>
                    </div>
                </div>
            </div>

            <div v-if="loaded" class="col-md-2">
                <h4>Files Modified on selected day</h4>
                <p v-if="daycommit"></p>
                <p v-else>Click on a bar in the large graph to display which files were modified by who that day.</p>
                <table class="table">
                    <tr v-for="(data, committer) in daycommit" :key="committer">
                        <td>{{committer}}</td>
                        <td>
                            <table class="table">
                                <tr v-for="file in data.files_touched" :key="file">
                                    <td>{{file}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <b-modal id="modal-1" title="Information">
            <h3>Usage</h3>
            <p class="my-6">
                Use the 'repository' dropdown to select the repository you wish to examine. Clicking on a bar in the
                large graph will display which code files were modified that day by who.
            </p>
            <h3>Metrics</h3>
            <p>
                <b>Code/Comment/Document Added/Changed/Removed:</b> For each commit added lines are compared with
                removed
                lines using
                difflib.SequenceMatcher in Python. A ratio above 0.6 marks it as changed. Below means it is new and
                deleted lines that have not been matched are marked as removed. Comments are filtered only if they start
                with /*, *, or //
                Which means that comment blocks that are not JavaDoc standard are not properly counted, nor are comments
                at the end of a line.
                Document refers to .md files in the project, (reference files for the template are ignored)
                Surouding lines define which it is: Green = added, Blue = changed, Red = removed.
            </p>
            <p>
                <b>CC Increase: </b> How much did the cyclomatic complexity increase or decrease in this commit. This is
                measured by comparing the complexity before with the complexity after using Python Lizard to determine
                complexity,
                this is done for the entire file. Cyclomatic Complexity is roughly increased by each statement that
                introduce a new 'path' in code. Such as an if statement or a while statement. High complexity often
                means difficult to maintain code.
            </p>
            <p>
                <b>PMD: </b> How many PMD messages were added or removed in this commit. Each commit is checked out, PMD
                is ran over it and the number of messages is counted. Then the new number is compared to the previous
                number. <em>Note: The original template has 233 PMD messages, so whoever did the first commit introduced
                that amount by default.</em>
            </p>
            <p>
                <b>CPD: </b> How many code duplications of 100 tokens (around 20 lines) or more were found in the
                codebase. If a piece of code was duplicated multiple times across files this is only counted once. This
                number is compared to the previous amount similar to PMD messages. CPD is a tool similar to PMD that can
                be run from the commandline.
            </p>
            <p>
                <b>Noncode: </b> Any binary files or files that are not code (such as XML) are counted if they were
                modified at all in a commit. Internal details of how many lines in an xml file were changed are not
                tracked.
            </p>
            <p>
                <b>Estimated Time Spend: </b> If two git commits are less than 2 hours apart they are considered to be
                part of the same commit. The first commit gets an arbitrary 1 hour added to it. It should be noted that
                this is a very rough estimate.
            </p>
            <p>
                <b>Merges: </b> Merges are ignored when counting lines, but are counted as a merge and who performed it.
            </p>
            <p>
                <b>Git Blame pie charts: </b> Taking the last state/commit of the project run GitBlame and map each line
                to a user. This shows the division of code based on who last modified a line of code. Same goes for the
                MD files.
            </p>
            <p>
                <b>Hour Scatterplot: </b> Commit times during the day scattered out over the week. Clicking on a name in
                top row disables their points for a cleared view.
            </p>
        </b-modal>
    </div>
</template>

<script>
    import PieChart from "./charts/PieChart";
    import chartColors from "../util/chartcolors";
    import TotalChart from "./charts/TotalChart";
    import HourChart from "./charts/HourChart";

    export default {
        name: "Graph",
        components: {HourChart, TotalChart, PieChart},
        props: ['jsonData', 'repoTitle'],
        data() {
            return {
                loaded: false,
                metricdata: null,
                gitblamecode: null,
                gitblamedocs: null,
                daycommit: null,
                gitblameoptions: {
                    title: {
                        display: false,
                        text: 'Git Blame'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                }
            }
        },
        watch: {
            jsonData: function () {
                this.metricdata = this.jsonData['json'];
                this.gitblamecode = this.setgitblame(this.metricdata["gitblame"]["code"]);
                this.gitblamedocs = this.setgitblame(this.metricdata["gitblame"]["docs"])
                this.loaded = true;
            }
        },
        methods: {
            setgitblame: function (gitblame) {
                let chartdata = {};
                let committers = this.metricdata['contributors'];
                let gb_committers = Object.keys(gitblame);
                chartdata.labels = committers.concat(gb_committers.filter((item) => committers.indexOf(item) < 0))
                let data = []
                chartdata.labels.forEach(function (contributor) {
                    if (contributor in gitblame) {
                        data.push(gitblame[contributor]);
                    } else {
                        data.push(undefined);
                    }
                });
                chartdata.datasets = [{
                    data: data,
                    backgroundColor: [],
                    label: 'Gitblame'
                }]
                chartdata.labels.forEach(function (contributor, index) {
                    chartdata.datasets[0].backgroundColor.push(chartColors[index]);
                });
                return chartdata;
            },
            showfiles: function (files) {
                this.daycommit = files;
            }

        }
    }
</script>

<style scoped>

</style>