<template>
    <div>
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand href="#">GitCanary</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
            <b-navbar-nav>
                <b-nav-form>
                    <b-spinner v-if="loading" label="Spinning"></b-spinner>
                    <b-form-select v-model="selectedrepo" :options="repooptions" @change="selectRepo"></b-form-select>
                        <b-form-radio-group
                                id="btn-radios-1"
                                v-model="reporttype"
                                :options="reportoptions"
                                buttons
                                name="radios-btn-default"
                                @change="selectRepo"
                        ></b-form-radio-group>
                </b-nav-form>
            </b-navbar-nav>
            <b-navbar-nav class="ml-auto">
                <b-nav-item href="/logout">Sign out</b-nav-item>
            </b-navbar-nav>
        </b-navbar>


    </div>
</template>

<script>
    export default {
        name: "navbar",
        props: ['repoList'],
        data() {
            return {
                items: this.repoList,
                reporttype: 'Alternative',
                reportoptions: [
                    {text: 'Standard', value: 'Standard'},
                    {text: 'Alternate', value: 'Alternative'},
                ],
                selectedrepo: null
            }
        },
        computed: {
            repooptions: function() {
                let list = []
                for(let repo in this.items) {
                    list.push({text: this.items[repo].name, value: repo});
                }
                return list;
            },
            loading: function() {
                return this.repoList ? false : true;
            }

        },
        watch: {
            repoList: function () {
                this.items = this.repoList;
            }
        },
        methods: {
            selectRepo: function () {

                if(this.selectedrepo != null) {
                    this.$nextTick(() => {
                        this.$emit("selectedRepo", {
                            "report": this.reportType(this.reporttype),
                            "name": this.items[this.selectedrepo].name,
                            "url": this.items[this.selectedrepo].url,
                            "contributors": this.items[this.selectedrepo].committers
                        });
                    });
                }
            },
            reportType: function(type) {
                let id = null
                this.items[this.selectedrepo].reports.forEach((report) => {
                    if(type == report.type) {
                        id = report.id;
                    }
                })
                return id
            }
        }
    }
</script>

<style scoped>

</style>