<template>
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item" v-for="item in items" v-bind:key="item.name">
                    <a class="nav-link" href="#" v-on:click="selectRepo(item.reports[0].id, item.name)">{{item.name}}</a>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "sidebar",
        props: ['repoList'],
        data() {
            return {
                items: this.repoList
            }
        },
        watch: {
            repoList: function () {
                this.items = this.repoList;
            }
        },
        methods: {
            selectRepo: function(repo, name) {
                this.$emit("selectedRepo", {"report":repo, "name":name});
            }
        }
    }
</script>

<style scoped>

</style>