<template>
    <div>
        <h2>Code <b-icon v-b-modal.modal-code icon="info-circle"></b-icon></h2>
        <BarChart :height=400 :chart-data="chartData" :options="options"/>
        <b-modal id="modal-code" title="Code">
            <p>
                <b>Source:</b> Data is taken from master branch and all branches available on Gitlab. Empty lines, lines
                containingly on a '}' and lines that begin with 'import' or 'package' are filtered from the results.
            </p>
            <p>
                <b>Changed</b> lines are calculated using difflib.SequenceMatcher in Python. A ratio above 0.6 marks it
                as changed. Below means it is new and
                deleted lines that have not been matched are marked as removed.
            </p>
        </b-modal>
    </div>
</template>

<script>
    import BarChart from "../charts/BarChart";
    import threebarColors from "../../util/threeBarColors";

    export default {
        name: "CodeContrib",
        components: {BarChart},
        props: ['jsonData', 'contributors'],
        data() {
            return {
                highValue: 0,
            }
        },
        computed: {
            options: function () {
                return {
                    title: {
                        display: false,
                        text: 'Metrics'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                callback: (value, index, values) => {
                                    this.$emit('updateHighValue', values[0])
                                    return value;
                                }
                            }
                        }]
                    }
                }

            },
            chartData: function () {
                let chartData = {
                    labels: this.contributors,
                    datasets: [{
                        label: 'Added',
                        backgroundColor: threebarColors[0],
                        data: this.getCodeCount('new')
                    },
                        {
                            label: 'Changed',
                            backgroundColor: threebarColors[1],
                            data: this.getCodeCount('changed')
                        },
                        {
                            label: 'Deleted',
                            backgroundColor: threebarColors[2],
                            data: this.getCodeCount('deleted')
                        }]
                }
                return chartData

            }
        },
        methods: {
            getCodeCount: function (type) {
                let addedCode = []
                let contributors = this.contributors
                contributors.forEach(function () {
                    addedCode.push(0);
                });
                this.jsonData.forEach((item) => {
                    item.modifications.forEach((mod) => {
                        if (mod.type == 'code') {
                            addedCode[contributors.indexOf(item.author)] += mod.calculated_changes.code[type];
                        }
                    })
                });
                return addedCode;
            },

        }
    }
</script>

<style scoped>

</style>