<template><div>
    <h2>Comment <b-icon v-b-modal.modal-comment icon="info-circle"></b-icon></h2>

    <BarChart :height=400 :chart-data="chartData" :options="options"/>
                   <b-modal id="modal-comment" title="Comments">
            <p>
                <b>Source:</b> Data is taken from master branch and all branches available on Gitlab. Empty lines, lines containingly on a '}' and lines that begin with 'import' or 'package' are filtered from the results.
            </p>
                       <p>Comments are matched to lines starting with: '/*', '*', '//'</p>

               <p>
                   <b>Changed</b> lines are calculated using difflib.SequenceMatcher in Python. A ratio above 0.6 marks it as changed. Below means it is new and
                deleted lines that have not been matched are marked as removed.
               </p>
                       <p>Height of the chart is matched to the height of the code chart.</p>
        </b-modal>
    </div>
</template>

<script>
    import BarChart from "../charts/BarChart";
    import threebarColors from "../../util/threeBarColors";

    export default {
        name: "CommentContrib",
        components: {BarChart},
        props: ['jsonData', 'contributors', 'highValue', 'dateRange'],
        computed: {
            options: function () {
                return {
                    title: {
                        display: false,
                        text: 'Metrics'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                max: this.highValue
                            }
                        }]
                    }
                }
            },
            chartData: function () {
                let chartData = {
                    labels: this.contributors,
                    datasets: [{
                        label: 'Added',
                        backgroundColor: threebarColors[0],
                        data: this.getCodeCount('new')
                    },
                        {
                            label: 'Changed',
                            backgroundColor: threebarColors[1],
                            data: this.getCodeCount('changed')
                        },
                        {
                            label: 'Deleted',
                            backgroundColor: threebarColors[2],
                            data: this.getCodeCount('deleted')
                        }]
                }
                return chartData

            }
        },
        methods: {
            getCodeCount: function (type) {
                let addedComment = []
                let contributors = this.contributors
                contributors.forEach(function () {
                    addedComment.push(0);
                });
                this.jsonData.forEach((item) => {
                    item.modifications.forEach(function (mod) {
                        if (mod.type == 'code') {
                            addedComment[contributors.indexOf(item.author)] += mod.calculated_changes.comment[type];
                        }
                    })

                });
                return addedComment;
            }
        }
    }
</script>

<style scoped>

</style>