<template>
    <div class="row">
        <div class="col-md-12">
            <h2>Complexity
                <b-icon v-b-modal.modal-cc icon="info-circle"></b-icon>
            </h2>
        </div>
        <div class="col-md-6">
            Added with Complexity
            <BarChart :height=400 :chart-data="chartDataAdded" :options="optionsA"/>
        </div>
        <div class="col-md-6">
            Complexity after change
            <BarChart :height=400 :chart-data="chartDataModified" :options="optionsM"/>
        </div>
        <div v-if="highItems.length >0" class="col-md-12">
            <h4>Files containing methods with 10+ complexity</h4>
            <b-table striped hover :items="highItems" :fields="fields">
                <template v-slot:cell(commit)="data">
                    <a :href="url + '/-/commit/' + data.value" target="_blank">{{data.value}}</a>
                </template>
            </b-table>
        </div>
        <b-modal id="modal-cc" title="Complexity">
            <p>
                <b>Source:</b> For each commit if a method was new, count the complexity. So if John had a count of 5 on
                X axis 3, then John introduced 5 methods with a complexity of 3 while coding. The same is true when a
                method altered and shows the Complexity that John left the method in.
            </p>
            <p>
                <b>High Complexity</b>, that is to say methods with a complexity over 10 are listed with a link to the
                commit and the file name it happened in. This only appears if those methods exist.
            </p>
        </b-modal>
    </div>
</template>

<script>
    import BarChart from "../charts/BarChart";
    import chartColors from "../../util/chartcolors";

    export default {
        name: "Complexity",
        components: {BarChart},
        props: ['jsonData', 'contributors', 'url'],
        data() {
            return {
                highValue: 0,
                highMethods: {},
                fields: [
                    {
                        key: 'file',
                    },
                    {
                        key: 'committer',
                    },
                    {
                        key: 'date',
                        formatter: value => {
                            let d = new Date(value);
                            return d.toLocaleDateString("nl-NL", {timeZone: 'UTC'}) + " " + d.toLocaleTimeString("nl-NL", {timeZone: 'UTC'})
                        }
                    },
                    {
                        key: 'commit',
                    },

                ],
            }
        },
        watch: {
            jsonData: {
                handler: function () {
                    this.highMethods = {}
                }
            }
        },
        computed: {
            highItems: function () {
                let list = [];
                for (let item in this.highMethods) {
                    list.push({
                        commit: item,
                        date: this.highMethods[item].date,
                        file: this.highMethods[item].filename,
                        committer: this.highMethods[item].committer
                    })
                }
                return list;
            },
            optionsA: function () {
                return {
                    title: {
                        text: 'Added'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                callback: (value, index, values) => {
                                    this.highValue = values[0]
                                    return value;
                                }
                            }
                        }]
                    }
                }

            },
            optionsM: function () {
                return {
                    title: {
                        text: 'Modified'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                max: this.highValue
                            }
                        }]
                    }
                }

            },
            chartDataAdded: function () {
                let chartData = {
                    labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, '10+'],
                    datasets: []
                }
                this.contributors.forEach((contributor, index) => {
                    chartData.datasets.push({
                        label: contributor,
                        backgroundColor: chartColors[index],
                        data: this.addedComplexityCount(contributor)
                    })
                });
                return chartData

            },
            chartDataModified: function () {
                let chartData = {
                    labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, '10+'],
                    datasets: []
                }
                this.contributors.forEach((contributor, index) => {
                    chartData.datasets.push({
                        label: contributor,
                        backgroundColor: chartColors[index],
                        data: this.moddedComplexityCount(contributor)
                    })
                });
                return chartData

            },

        },
        methods: {
            addedComplexityCount: function (contributor) {
                let dataset = {1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, '10+': 0}
                this.jsonData.forEach((item) => {
                    if (item.author == contributor && !item.merge) {
                        item.modifications.forEach((mod) => {
                            if (mod.type == 'code') {
                                this.addedCC(mod.methods, mod.methods_before).forEach((cc) => {
                                    if (cc < 11) {
                                        dataset[cc] += 1;
                                    } else {
                                        dataset['10+'] += 1;
                                        if (!(item.hash in this.highMethods)) {
                                            this.highMethods[item.hash] = {
                                                filename: mod.filename,
                                                date: item.date,
                                                committer: item.author
                                            }
                                        }
                                    }

                                });
                            }
                        })
                    }
                });
                return Object.values(dataset)
            },
            moddedComplexityCount: function (contributor) {
                let dataset = {1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, '10+': 0}
                this.jsonData.forEach((item) => {
                    if (item.author == contributor && !item.merge) {
                        item.modifications.forEach((mod) => {
                            if (mod.type == 'code') {
                                this.moddedCC(mod.methods, mod.methods_before).forEach((cc) => {
                                    if (cc < 11) {
                                        dataset[cc] += 1;
                                    } else {
                                        dataset['10+'] += 1;
                                        if (!(item.hash in this.highMethods)) {
                                            this.highMethods[item.hash] = {
                                                filename: mod.filename,
                                                date: item.date,
                                                committer: item.author
                                            }
                                        }
                                    }
                                });
                            }
                        })
                    }
                });
                return Object.values(dataset)
            },
            addedCC: function (current, old) {
                let methods = [];
                for (let method in current) {
                    if (Object.keys(old).indexOf(method) == -1) {
                        methods.push(current[method].complexity)
                    }
                }
                return methods;
            },
            moddedCC: function (current, old) {
                let methods = [];
                for (let method in current) {
                    if (Object.keys(old).indexOf(method) > -1 && current[method].complexity != old[method].complexity) {
                        methods.push(current[method].complexity)
                    }
                }
                return methods;
            },
        }
    }
</script>

<style scoped>

</style>