<template>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Committer</th>
            <th scope="col"># Commits</th>
            <th scope="col">Avg CC</th>
            <th scope="col">Highest CC Worked on</th>
            <th scope="col">Avg Method Size</th>
            <th scope="col">Largest Method Worked On</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item,contrib) in complexitySize" :key="contrib">
            <th scope="row">{{contrib}}</th>
            <td>{{item.commitCount}}</td>
            <td>{{calcAvg(item.cc)}}</td>
            <td>{{item.highCc}} ({{item.highCcName}})</td>
            <td>{{calcAvg(item.size)}}</td>
            <td>{{item.largeSize}} ({{item.largeName}})</td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    import chartColors from "../../util/chartcolors";
    import moment from "moment";

    export default {
        name: "ComplexitySize",
        props: ['jsonData', 'contributors', 'dateRange'],
        computed: {
            complexitySize: function () {
                let contributors = this.contributors;
                let dataset = {}
                contributors.forEach(function (contributor) {
                    dataset[contributor] = {
                        cc: [],
                        size: [],
                        commitCount: 0,
                        highCc: 0,
                        highCcName: null,
                        largeSize: 0,
                        largeName: null
                    }
                });
                this.jsonData.forEach((item) => {
                        let currentEntry = dataset[item.author]
                        currentEntry.commitCount += 1
                        item.modifications.forEach( (mod) => {
                            if(mod.type=='code') {
                                this.compareMethods(mod.methods, mod.methods_before).forEach((method) => {
                                    currentEntry.cc.push(method.cc);
                                    currentEntry.size.push(method.loc);
                                    if (method.cc > currentEntry.highCc) {
                                        currentEntry.highCc = method.cc;
                                        currentEntry.highCcName = method.name;
                                    }
                                    if (method.loc > currentEntry.largeSize) {
                                        currentEntry.largeSize = method.loc;
                                        currentEntry.largeName = method.name;
                                    }
                                });
                            }
                        })
                });
                return dataset
            }
        },
        methods: {
            compareMethods: function (current, old) {
                let methods = [];
                for (let method in current) {
                    if (!(method in Object.keys(old)) || current[method].cc != old[method].cc || current[method].nloc != old[method].nloc) {
                        methods.push({
                            name: method,
                            cc: current[method].complexity,
                            loc: current[method].nloc
                        })
                    }
                }
                return methods;
            },
            calcAvg: function (list) {
                let sum = list.reduce((a, b) => a + b, 0);
                return (sum / list.length) || 0;
            }
        }
    }
</script>

<style scoped>

</style>