<template>
<div>
    <h2>Documentation <b-icon v-b-modal.modal-doc icon="info-circle"></b-icon></h2>
    <BarChart :height=400 :chart-data="chartData" :options="options"/>
    <b-modal id="modal-doc" title="Documentation">
            <p>
                <b>Source:</b> Data is taken from master branch and all branches available on Gitlab. Empty lines are filtered from the results.
            </p>
               <p>
                   <b>Changed</b> lines are calculated using difflib.SequenceMatcher in Python. A ratio above 0.6 marks it as changed. Below means it is new and
                deleted lines that have not been matched are marked as removed.
               </p>
        </b-modal>
    </div>
</template>

<script>
    import BarChart from "../charts/BarChart";
    import moment from "moment";
    import threebarColors from "../../util/threeBarColors";

    export default {
        name: "DocContrib",
        components: {BarChart},
        props: ['jsonData', 'contributors', 'dateRange'],
        data() {
            return {
                highValue: 0,
            }
        },
        computed: {
            options: function () {
                return {
                    title: {
                        display: false,
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                }

            },
            chartData: function () {
                let chartData = {
                    labels: this.contributors,
                    datasets: [{
                        label: 'Added',
                        backgroundColor: threebarColors[0],
                        data: this.getCodeCount('new')
                    },
                        {
                            label: 'Changed',
                            backgroundColor: threebarColors[1],
                            data: this.getCodeCount('changed')
                        },
                        {
                            label: 'Deleted',
                            backgroundColor: threebarColors[2],
                            data: this.getCodeCount('deleted')
                        }]
                }
                return chartData

            }
        },
        methods: {
            getCodeCount: function (type) {
                let addedDoc = []
                let contributors = this.contributors
                contributors.forEach(function () {
                    addedDoc.push(0);
                });
                this.jsonData.forEach((item) => {
                        item.modifications.forEach(function (mod) {
                            if (mod.type == 'doc') {
                                addedDoc[contributors.indexOf(item.author)] += mod.calculated_changes[type];
                            }
                        })
                });
                return addedDoc;
            },
              withinTimeRange: function (date) {
            let withinRange = true;
            if (this.dateRange.startDate) {
                if (moment(date).isBefore(moment(this.dateRange.startDate, "YYYY-MM-DD"))) {
                    withinRange = false;
                }
            }
            if (this.dateRange.endDate) {
                if (moment(date).isAfter(moment(this.dateRange.endDate, "YYYY-MM-DD"))) {
                    withinRange = false;
                }
            }
            return withinRange;
        }
        },

    }
</script>

<style scoped>

</style>