<template>
    <div class="row">
        <div class="col-md-12">
            <h2>Git Blame last Master version <b-icon v-b-modal.modal-gitblame icon="info-circle"></b-icon></h2>
        </div>
        <div class="col-md-3">
            <h4>Code/Comment</h4>
            <PieChart :chart-data="codecomment" :options="gitblameoptions"/>
        </div>
        <div class="col-md-3">
            <h4>.java</h4>
            <PieChart :chart-data="gitblamecode" :options="gitblameoptions"/>
        </div>
        <div class="col-md-3">
            <h4>comments</h4>
            <PieChart :chart-data="gitblamecomment" :options="gitblameoptions"/>
        </div>
        <div class="col-md-3">
            <h4>.md</h4>
            <PieChart :chart-data="gitblamedocs" :options="gitblameoptions"/>
        </div>
        <b-modal id="modal-gitblame" title="Git Blame">
            <p>
                <b>Source:</b> Data is taken from the latest master branch available on Gitlab. Empty lines, lines
                containingly on a '}' and lines that begin with 'import' or 'package' are filtered from the results.
            </p>
            <p>
                <b>Code/Comment</b> Is the sum of the Git Blame showing code to comment ratio.
            </p>
        </b-modal>
    </div>
</template>

<script>
    import chartColors from "../../util/chartcolors";
    import PieChart from "../charts/PieChart";
    import threebarColors from "../../util/threeBarColors";

    export default {
        name: "GitBlame",
        components: {PieChart},
        props: ['contributors', 'gitblame'],
        data() {
            return {
                gitblameoptions: {
                    title: {
                        display: false,
                        text: 'Git Blame'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                }
            }
        }
        ,
        computed: {
            codecomment: function () {
                return {
                    labels: ['Code', 'Comments'],
                    datasets: [{
                        backgroundColor: [threebarColors[0], threebarColors[1]],
                        data: [this.getSum('code'), this.getSum('comments')]
                    }]
                }
            },
            gitblamecode: function () {
                return {
                    labels: this.contributors,
                    datasets: [{
                        label: 'Code',
                        backgroundColor: this.getColors(this.contributors.length),
                        data: this.getData('code')
                    }]
                };
            }
            ,
            gitblamecomment: function () {
                return {
                    labels: this.contributors,
                    datasets: [{
                        label: 'Comments',
                        backgroundColor: this.getColors(this.contributors.length),
                        data: this.getData('comments')
                    }]
                };
            }
            ,
            gitblamedocs: function () {
                return {
                    labels: this.contributors,
                    datasets: [{
                        label: 'Documentation',
                        backgroundColor: this.getColors(this.contributors.length),
                        data: this.getData('docs')
                    }]
                };
            }
        }
        ,
        methods: {
            getColors: function (length) {
                let colors = [];
                for (let i = 0; i < length; i++) {
                    colors.push(chartColors[i]);
                }
                return colors;
            }
            ,
            getData: function (type) {
                let data = [];
                for (let i = 0; i < this.contributors.length; i++) {
                    data.push(0);
                }
                for (let contributor in this.gitblame[type]) {
                    data[this.contributors.indexOf(contributor)] = this.gitblame[type][contributor];
                }
                return data;
            },
            getSum: function (type) {
                let total = 0;
                for (let contrib in this.gitblame[type]) {
                    total += this.gitblame[type][contrib];
                }
                return total;
            }
        }
    }
</script>

<style scoped>

</style>