<template>
    <div>
        <h2>Commit Times
            <b-icon v-b-modal.modal-time icon="info-circle"></b-icon>
        </h2>
        <scatter-plot :chart-data="chartData" :options="options"/>
        <b-modal id="modal-time" title="Commit Times">
            <p>
                <b>Source:</b> For each commit map the time to day and rough hour of the day.
            </p>
            <p>
                <b>Stacked names</b> mean multiple commits within a short span of time.
            </p>
        </b-modal>
    </div>
</template>

<script>
    import ScatterPlot from "../charts/ScatterPlot";
    import chartColors from "../../util/chartcolors";
    import moment from 'moment';

    export default {
        name: "HourChart",
        components: {ScatterPlot},
        props: ['jsonData', 'contributors', 'dateRange'],
        data() {
            return {
                options: {
                    title: {
                        display: false,
                        text: 'Metrics'
                    },
                    tooltips: {
                        callbacks: {
                            label: function (tooltipItem, data) {
                                var label = data.datasets[tooltipItem.datasetIndex].label || '';

                                if (label) {
                                    label += ': ';
                                }
                                var hours = Math.floor(tooltipItem.yLabel);
                                var minutes = tooltipItem.yLabel % 1;
                                minutes = Math.round(minutes * 60);
                                if (minutes < 10) {
                                    minutes = '0' + minutes;
                                }
                                label += hours + ':' + minutes;
                                return label;
                            }
                        }
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            type: 'time',
                            distribution: 'linear',
                            time: {
                                unit: 'day',
                                displayFormats: {
                                    day: 'ddd MMM Do'
                                }
                            }
                        }],
                        yAxes: [{
                            type: 'linear',
                            position: 'left',
                            ticks: {
                                min: 0,
                                max: 24,
                                stepSize: 1
                            }
                        }
                        ]

                    },
                }
            }
        },
        computed: {
            chartData: function () {
                let contributors = this.contributors;
                let datasets = []
                contributors.forEach(function (contributor, index) {
                    datasets.push({
                        label: contributor,
                        backgroundColor: chartColors[index],
                        data: []
                    });
                });
                this.jsonData.forEach((item) => {
                    let date = moment(item.date, "YYYY-MM-DDTHH:mm:ssZZ"); //2018-07-01T20:38:32+02:00
                    let thour = date.format('H')

                    let tmin = date.format('m') / 60
                    datasets[contributors.indexOf(item.author)].data.push({
                        x: date.startOf('day'),
                        y: parseFloat(thour) + parseFloat(tmin)
                    })

                });
                return {datasets: datasets}


            }
        },
        methods: {}
    }
</script>

<style scoped>

</style>