<template>
    <div id="app">
        <NavBar v-bind:repo-list="repoList" @selectedRepo="selectRepo"/>
        <main v-if="reportType=='Standard'" role="main" class="col-md-12">
            <Graph v-bind:json-data="standardRepoData" v-bind:repo-title="repoTitle"/>
        </main>
        <main v-if="reportType=='Alternative'" role="main" class="col-md-12">
            <AltGraph v-bind:json-data="alternateRepoData" v-bind:repo-title="repoTitle" v-bind:repo-u-r-l="repoURL"
                      v-bind:contributors="contributors" v-bind:gitblame="gitblame" v-bind:branches="branches"/>
        </main>
    </div>
</template>

<script>
// @ is an alias to /src
import NavBar from "./components/NavBar";
import Graph from "./components/Graph";
import AltGraph from "./components/altGraph";

export default {
    name: 'Home',
    components: {
        AltGraph,
        NavBar,
        Graph
    },
    data() {
        return {
            repoList: null,
            standardRepoData: null,
            alternateRepoData: null,
            reportType: 'Alternative',
            repoTitle: "",
            repoURL: null,
            contributors: null,
            gitblame: {},
            branches: ['all']
        }
    },
    mounted() {
        fetch('/api/repo')
            .then(response => response.json())
            .then(
                json => this.repoList = json
            );
    },
    methods: {
        selectRepo: function (repo) {
            try {
                fetch('/api/report/' + repo.report)
                    .then(response => response.json())
                    .then(
                        json => this.updateRepoChart(json, repo.name, repo.url, repo.contributors)
                    );
            } catch (e) {
                console.error(e)
            }
        },
        updateRepoChart: function (json, name, url, contributors) {
            if (json['type'] == 'Standard') {
                this.standardRepoData = json;
                this.standardRepoData['json']['commits'] = this.aggregateStandardContributors(json['json'], contributors);
                this.standardRepoData['contributors'] = Object.keys(contributors);
                this.standardRepoData['json']['contributors'] = Object.keys(contributors);
                this.standardRepoData['json']['gitblame'] = this.aggregateGitBlame(json['json']['gitblame'], contributors);
                console.log(this.standardRepoData);
                this.alternateRepoData = null;
            }
            if (json['type'] == 'Alternative') {
                this.standardRepoData = null;
                this.contributors = Object.keys(contributors);
                this.alternateRepoData = this.aggregateContributors(json['json'], contributors);
                this.gitblame = this.aggregateGitBlame(json['json']['gitblame'], contributors);
                this.repoURL = url.substring(0, url.length - 4);
            }
            this.reportType = json['type'];
            const d = new Date(json['date']);
            this.repoTitle = name + " (" + d.toLocaleDateString("nl-NL", {timeZone: 'UTC'}) + " " + d.toLocaleTimeString("nl-NL", {timeZone: 'UTC'}) + ")";
        },
        aggregateContributors: function (jsondata, contributors) {
            this.branches = ['all'];
            let data = jsondata['commits'];
            //let unknownCommitter = '';
            data.forEach((item) => {
                for (let contributor in contributors) {
                    if (contributors[contributor].indexOf(item.author) > -1) {
                        item.author = contributor;
                    }
                }
                for (let branch in item.branches) {
                    if (this.branches.indexOf(item.branches[branch]) == -1) {
                        this.branches.push(item.branches[branch]);
                    }
                }
            });
            for (let unknown in jsondata['committers']) {
                let addUnknown = unknown;
                for (let contributor in contributors) {
                    if (contributors[contributor].indexOf(unknown) > -1) {
                        addUnknown = null;
                    }
                }
                if (addUnknown) {
                    this.contributors.push(addUnknown);
                }
            }
            return data;
        },
        aggregateStandardContributors: function (jsondata, contributors) {
            this.branches = ['all'];
            let data = jsondata['commits'];
            //let unknownCommitter = '';
            for (let commitdate in data) {
                for (let committer in data[commitdate]) {
                    for (let contributor in contributors) {
                        if (contributors[contributor].indexOf(committer) > -1) {
                            Object.defineProperty(data[commitdate], contributor,
                                Object.getOwnPropertyDescriptor(data[commitdate], committer));
                            delete data[commitdate][committer];
                        }
                    }
                }
            }
            return data;
        },
        aggregateGitBlame: function (gitblame, contributors) {
            let newGitBlame = {};
            for (let type in gitblame) {
                newGitBlame[type] = {}
                for (let contrib in contributors) {
                    newGitBlame[type][contrib] = 0
                    for (let committer in gitblame[type]) {
                        if (contributors[contrib].indexOf(committer) > -1) {
                            newGitBlame[type][contrib] += gitblame[type][committer];
                        }
                    }
                }


            }
            return newGitBlame
        }
    }

}
</script>

<style>
body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

/*
 * Utilities
 */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}
</style>
