<template>
    <div class="row">
        <div class="col-md-2">
            <b-list-group>
                <b-list-group-item v-for="(data, name) in filenames" :key="name" button @click="openFile($event, data)">
                    {{name}}
                </b-list-group-item>
            </b-list-group>
        </div>
        <div class="col-md-8">
            <h1>{{currentfile}}</h1>
            <table class="table table-hover">
                <tr>
                    <th>Author</th>
                    <th>Date</th>
                    <th>Hash</th>
                    <th>LoC</th>
                    <th>CC</th>
                </tr>
                <tr v-for="commit in filecommits" :key="commit.hash">
                    <td>{{commit.user}}</td>
                    <td>{{commit.date}}</td>
                    <td>{{commit.hash}}</td>
                    <td>{{commit.loc}}</td>
                    <td>{{commit.cc}}</td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "File",
        props: ['jsondata'],
        data() {
            return {
                filedata: null,
                filenames: null,
                filecommits: null,
                currentcommit: null,
                currentfile: ""
            }
        },
        mounted() {
            this.getdata();
        },
        watch: {
            '$route'() {
                this.getdata();
            }
        },
        methods: {
            getdata() {
                try {
                    fetch('/api/report/' + this.$route.params['id'])
                        .then(response => response.json())
                        .then(
                            json => this.fixdata(json)
                        );
                } catch (e) {
                    console.error(e)
                }
            },
            fixdata(json) {
                this.filedata = json["json"];
                let namelist = {};
                for (let key of Object.keys(this.filedata)) {
                    let path = key.split(/\\/);
                    let filename = path[path.length - 1];
                    namelist[filename] = key;
                }
                this.filenames = namelist;
                this.loaded = true;
            },
            openFile(event, path) {
                let filedata = this.filedata[path];
                this.currentfile = path;
                this.filecommits = filedata;
            },
            openCommit(event, hash) {
                let currentcommit = null;
                this.filecommits.forEach(function (commit) {
                    if (commit.hash == hash) {
                        currentcommit = commit;
                    }
                });
                this.currentcommit = currentcommit;
                console.log(this.currentcommit)
            }
        }
    }
</script>

<style scoped>

</style>