<template>
    <div class="container-fluid">
        <div class="row">
            <SideBar v-bind:repo-list="repoList" @selectedRepo="selectRepo"/>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <Graph v-bind:json-data="repoData" v-bind:repo-title="repoTitle"/>
            </main>
        </div>
    </div>
</template>

<script>
    // @ is an alias to /src
    import Graph from "../components/Graph";
    import SideBar from "../components/SideBar";

    export default {
        name: 'Home',
        components: {
            Graph,
            SideBar
        },
        data() {
            return {
                repoList: null,
                repoData: null,
                repoTitle: "",
            }
        },
        mounted() {
            fetch('/api/repo')
                .then(response => response.json())
                .then(
                    json => this.repoList = json
                );
        },
        methods: {
            selectRepo: function (repo) {
                try {
                    fetch('/api/report/' + repo.report)
                        .then(response => response.json())
                        .then(
                            json => this.updateRepoChart(json, repo.name)
                        );
                } catch (e) {
                    console.error(e)
                }
            },
            updateRepoChart: function (json, name) {
                this.repoData = json;
                const d = new Date(json['date']);
                this.repoTitle = name + " (" + d.toLocaleDateString("nl-NL") + " " + d.toLocaleTimeString("nl-NL") + ")";
            }
        }
    }
</script>
